answers.txt
archive.zip
client.py
greetings
load_files.sh
mcborg.log
sa_slang_words
select_from_babas_log.awk
sentences.txt
server.py~
sexuology01
slang02
slang03
slang04
t01.py
t02.py
t03.py
t04.py
testfile.txt
testfile2.txt
transform_channel_tells_log.py
words.txt
xaosfiftytwo_ConsoleLog_20090201.txt
*.pyc
*~
*.bak
*.pyo
*.dat
*.log
reply.py
result
server01.py
server02.py
tr01.py
version
server.py
