# Total of aliases known #
num_aliases	= 0
# If True, Mcborg don't saves the dictionary and configuration on disk #
no_save	= 'False'
# Total word contexts #
num_contexts	= 54781
# Words that can be ignored for the answer #
ignore_list	= ['!.', '?.', "'", ',', ';']
# max limits in the number of words known #
max_words	= 12000
# Allow the bot to learn #
learning	= 1
# Wich way for generate the reply ( mcborg|megahal) #
process_with	= 'mcborg'
# A list of similars words #
aliases	= {}
# Don't learn the sentence if one of those words is found #
censored	= []
# Total unique words known #
num_words	= 7240
